<head>
<meta charset="utf-8">
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

{% include head/graph.html %}

<title>{{ page.title }} • {{ site.siteName }}</title>

<link rel="stylesheet" href="/assets/css/style.css">

{% include head/ie.html %}

<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>

<!-- Icons -->
<link rel="logo" type="image/svg" href="{{ site.siteUrl }}/logo.svg" />
<link rel="shortcut icon" href="/assets/icons/favicon.png">
<!-- ie will look for favicon.ico automatically -->

{% include head/head.mobile.html %}

{% include head/head.windows.html %}