<nav class="site-nav"
     id="js-site-nav">
    <ul class="site-nav__list">
        <li class="site-nav__item  site-nav__item--igdesign  site-nav__item--active">
            <a class="site-nav__link"
               href="/">iG Design &amp; Publishing</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="/ig">Inside Golf</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="/iggd">International Golfer's Guide</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="/wcta">WCTA</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="/specs">Ad Specifications</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="/faqs">FAQs</a>
        </li>
        <li class="site-nav__item  site-nav__item--contact">
            <a class="site-nav__link"
               href="/contact">Contact Us</a>
        </li>
    </ul>
</nav>