<nav class="site-nav">
    <ul class="site-nav__list">
        <li class="site-nav__item  site-nav__item--igdesign">
            <a class="site-nav__link"
               href="/">iGDP</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="/ig">iG</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="/iggd">IGGD</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="/wcta">WCTA</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="/specs">Ad Specs</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="/faqs">FAQs</a>
        </li>
        <li class="site-nav__item  site-nav__item--contact">
            <a class="site-nav__link"
               href="/contact">Contact Us</a>
        </li>
    </ul>
</nav>