<nav class="site-nav">
  <ul class="site-nav__list">
    <li class="site-nav__item"><a class="site-nav__link" href="/">Home</a></li>
    <li class="site-nav__item"><a class="site-nav__link" href="/ig">Inside Golf</a></li>
    <li class="site-nav__item"><a class="site-nav__link" href="/tln">Turfline News</a></li>
    <li class="site-nav__item"><a class="site-nav__link" href="/iggd">International Golfers Guide</a></li>
    <li class="site-nav__item"><a class="site-nav__link" href="/faq">FAQ</a></li>
    <li class="site-nav__item"><a class="site-nav__link" href="/contact">Contact Us</a></li>
  </ul>
</nav>